@import 'header.scss';

.aboutContainer{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin-bottom: 30px;
    
}
.aboutContainer h1{
    text-align: center;
    color:#150035;
}
.aboutContainer p{
    margin-top: 30px;
}
.aboutContainer .aboutContentContainer{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.titleBanner{
    height: 2px;
    background-color: black;
    width: 5%;
    margin:0 auto;
    animation: BannerSpinner 1s infinite alternate;
}
.contentAbout{
    margin-top: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imgAboutPerfil{
        width: 150px;
        animation: animate-image 3s infinite alternate;
    }
}
.contentAbout p{
    width: 60%;
}
.contentAbout button{
    margin-top: 50px;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border: none;
    background-color: $principalCollor;
    color: white;
    border-radius: 10px;
}
.contentAbout button img{
    width: 32px;
    margin-left: 15px;
}
.aboutCardContainer{
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.aboutCardContainer img{
    width: 350px;
    border-radius: 15px;
}
.cardInformationContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cardInformationContainer div{
    margin: 0px 20px;
}
.cardInformationContainer .aboutInfoTitle{
    color: #39a1ff;
    display: block;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.cardInformationContainer .aboutInfoName{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
@keyframes BannerSpinner{
    0%{
        width: 5%;
    }
    100%{
        width: 0%;
    }
}

@media screen and (max-width:800px){
    .aboutContainer{
        .aboutContentContainer{
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            .contentAbout{
                width: 100%;
                p{
                    width: 80%;
                }
            }
        }
    }
}