$principalCollor : #39a1ff;
.Heaven{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerTextContent{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 50%;
    color: #150035;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}
.headerTextContent h1{
    font-size: 2.5rem;
}
.headerTextContent h2{
    font-weight: 400;
    color: #150035b6;
    font-size: 1.6rem;
}
.headerTextContent h2::after{
    content: '|';
    margin-left: 5px;
    animation: piscMouse 0.5s infinite alternate;
}

@keyframes piscMouse{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.headerTextContent button{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 30px;
    padding: 10px  10%;
    width:fit-content;
    border-radius: 10px;
    border: none;
    background-color: $principalCollor;
    color: #f8f8ff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerTextContent button img{
    width: 32px;
    padding-left: 10px;
}
.headerTextContent button:hover{
    box-shadow: 0px 0px 30px $principalCollor;
    cursor: pointer;
}
.headerImageContainer{
    padding-top: 10vh;
    width: 50%;
    display: flex;
    justify-content: center;
}
.Heaven .headerImageContainer img{
    width: 500px;
    animation: animate-image 2s infinite alternate;
}
@keyframes animate-image{
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
    }
}
@media screen  and (max-width:800px){
    .Heaven{
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        .headerTextContent{
            width: 90%;
            margin-left: 0px;
            text-align: center;
            align-items: center;
            h1{
                font-size: 1.7rem;
            }
            h2{
                font-size:1.2rem;
            }
        }
        .headerImageContainer{
            img{
                width: 300px;
            }
        }
    }
}