.aboutContainer{
    p{
        margin: 5px 0px;
        margin-bottom: 15px;
        color: #150035;
    }
}
.skillsContainer{
    min-height: max-content;
}
.subContainerSkills{
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    .containerSkills{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        .skillsHeader{
            .arrowTransform{
                transform: rotate(-180deg);
            }
            width: 350px;
            padding: 30px;
            .iconSkillsInline{
                display: flex;
                flex-direction: row;
                justify-content:space-between;
                img{
                    transition: .4s;
                }
            }
            img{
                width: 32px;
                display: inline-block;
            }span{
                display: inline-block;
            }
        }
        .skillsHeader:hover{
            background-color: #f8f8ff;
            cursor: pointer;
        }
        .skillsBody{
            overflow:hidden;
            max-height: max-content;
            transition: max-height 1s ease-in-out;
            .skillsData{
                .skillsBar{
                    background-color: #a3d4ff;
                    border-radius: .25rem;
                    .skillsPercentBar{
                        height: 5px;
                        border-radius: .25rem;
                        display: block;
                        background-color:#39a1ff;
                    }
                    .htmlBar{
                        width: 90%;
                    }
                    .jsBar{
                        width: 80%;
                    }
                    .reactBar{
                        width: 50%;
                    }
                    .nodeBar{
                        width: 60%;
                    }
                    .expressBar{
                        width: 80%;
                    }
                    .mongoBar{
                        width: 70%;
                    }
                    .illustratorBar{
                        width: 20%;
                    }
                }
                .skillsStats{
                    width: 250px;
                }
            }
        }
        .closeSkills{
            max-height: 0!important;
            pointer-events: none;
        }
    }
}
.qualificationSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .containerQualification{
        display: none;
    }
    .controllerQualifications{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        svg{
            margin-right: 10px;
            width: 32px;
        }
        font-family: 'Poppins', sans-serif;
        div{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 100px;
            margin-right: 100px;
            margin-bottom: 70px;
            font-size: 1rem;
        }
        div:hover{
            cursor: pointer;
            color: #39a1ff;
        }
        .activeControllerQualification{
            border-radius: 10px;
            background: #39a1ff;
            color: white;
            svg{
                path{
                    fill: #f8f8ff;
                }
            }
            pointer-events: none;
        }
    }
    .contentQualificationData{
        text-align: right;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 1.5rem;
        .qualificationCircle{
            display: inline-block;
            width: 13px;
            height: 13px;
            background-color: #39a1ff;
            border-radius: 50%;
        }
        .qualificationLine{
            display: block;
            width: 1px;
            height: 100%;
            background-color: #39a1ff;
            transform: translate(6px,-7px);
        }
    }
    .invertData{
        text-align: left;
    }
    .dataActive{
        display: block;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:800px){
    .subContainerSkills{
        flex-direction: column;
        width: 100%;
        .containerSkills{
            width: 100%;
        }
    }
    .controllerQualifications{
        flex-direction: column !important;
        div{
            margin: none;
        }
    }
    .containerQualification{
        padding-left: 25px;
        padding-right: 25px;
    }
}