.aboutContainer{
    p{
        margin: 5px 0px;
        margin-bottom: 15px;
        color: #150035;
    }
}
.skillsContainer{
    min-height: max-content;
}
.subContainerSkills{
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    .containerSkills{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        .skillsHeader{
            .arrowTransform{
                transform: rotate(-180deg);
            }
            width: 350px;
            padding: 30px;
            .iconSkillsInline{
                display: flex;
                flex-direction: row;
                justify-content:space-between;
                img{
                    transition: .4s;
                }
            }
            img{
                width: 32px;
                display: inline-block;
            }span{
                display: inline-block;
            }
        }
        .skillsHeader:hover{
            background-color: #f8f8ff;
            cursor: pointer;
        }
        .skillsBody{
            overflow:hidden;
            max-height: max-content;
            transition: max-height 1s ease-in-out;
            .skillsData{
                .skillsBar{
                    background-color: #a3d4ff;
                    border-radius: .25rem;
                    .skillsPercentBar{
                        height: 5px;
                        border-radius: .25rem;
                        display: block;
                        background-color:#39a1ff;
                    }
                    .htmlBar{
                        width: 90%;
                    }
                    .jsBar{
                        width: 80%;
                    }
                    .reactBar{
                        width: 50%;
                    }
                    .nodeBar{
                        width: 60%;
                    }
                    .expressBar{
                        width: 80%;
                    }
                    .mongoBar{
                        width: 70%;
                    }
                    .illustratorBar{
                        width: 20%;
                    }
                }
                .skillsStats{
                    width: 250px;
                }
            }
        }
        .closeSkills{
            max-height: 0!important;
            pointer-events: none;
        }
    }
}