/* line 1, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices {
  min-height: 100vh;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 7, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .subtitle {
  margin: 10px 0px;
}

/* line 10, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .containerContentServices {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* line 16, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .containerContentServices .contentServices {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* line 22, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .containerContentServices .contentServices svg {
  width: 32px;
}

/* line 27, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .contactMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: max-content;
  padding: 20px;
  margin: auto;
  margin-top: 200px;
  background-color: #39a1ff;
  border-radius: 10px;
  margin-bottom: 150px;
}

/* line 39, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .contactMe .textContactMe {
  width: 70%;
  text-align: justify;
  color: white;
}

/* line 43, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .contactMe .textContactMe h2 {
  color: white;
}

/* line 46, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .contactMe .textContactMe p {
  width: 70%;
}

/* line 49, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .contactMe .textContactMe button {
  margin-top: 30px;
  padding: 10px 50px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: white;
}

/* line 60, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .contactMe .imageContact {
  width: 30%;
}

/* line 62, ../../../../github/Portfolio/public/sass/services.scss */
.containerServices .contactMe .imageContact img {
  width: 250px;
  animation: cellphoneAnimation 2s alternate infinite;
}

@keyframes cellphoneAnimation {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150px);
  }
}

@media screen and (max-width: 800px) {
  /* line 79, ../../../../github/Portfolio/public/sass/services.scss */
  .containerServices {
    margin-top: 0px;
  }
  /* line 81, ../../../../github/Portfolio/public/sass/services.scss */
  .containerServices .containerContentServices {
    flex-direction: column;
    align-items: center;
  }
  /* line 84, ../../../../github/Portfolio/public/sass/services.scss */
  .containerServices .containerContentServices .contentServices {
    margin-top: 60px;
  }
  /* line 88, ../../../../github/Portfolio/public/sass/services.scss */
  .containerServices .contactMe {
    flex-direction: column;
    width: 90%;
  }
  /* line 92, ../../../../github/Portfolio/public/sass/services.scss */
  .containerServices .contactMe .textContactMe {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  /* line 96, ../../../../github/Portfolio/public/sass/services.scss */
  .containerServices .contactMe .textContactMe p {
    width: 80%;
    margin: auto;
  }
  /* line 102, ../../../../github/Portfolio/public/sass/services.scss */
  .containerServices .contactMe .imageContact img {
    display: none;
  }
}

/*# sourceMappingURL=services.css.map */