/* line 2, ../../../../github/Portfolio/public/sass/skills.scss */
.aboutContainer p {
  margin: 5px 0px;
  margin-bottom: 15px;
  color: #150035; }

/* line 8, ../../../../github/Portfolio/public/sass/skills.scss */
.skillsContainer {
  min-height: max-content; }

/* line 11, ../../../../github/Portfolio/public/sass/skills.scss */
.subContainerSkills {
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; }
  /* line 18, ../../../../github/Portfolio/public/sass/skills.scss */
  .subContainerSkills .containerSkills {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center; }
    /* line 23, ../../../../github/Portfolio/public/sass/skills.scss */
    .subContainerSkills .containerSkills .skillsHeader {
      width: 350px;
      padding: 30px; }
      /* line 24, ../../../../github/Portfolio/public/sass/skills.scss */
      .subContainerSkills .containerSkills .skillsHeader .arrowTransform {
        transform: rotate(-180deg); }
      /* line 29, ../../../../github/Portfolio/public/sass/skills.scss */
      .subContainerSkills .containerSkills .skillsHeader .iconSkillsInline {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        /* line 33, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsHeader .iconSkillsInline img {
          transition: .4s; }
      /* line 37, ../../../../github/Portfolio/public/sass/skills.scss */
      .subContainerSkills .containerSkills .skillsHeader img {
        width: 32px;
        display: inline-block; }
      /* line 40, ../../../../github/Portfolio/public/sass/skills.scss */
      .subContainerSkills .containerSkills .skillsHeader span {
        display: inline-block; }
    /* line 44, ../../../../github/Portfolio/public/sass/skills.scss */
    .subContainerSkills .containerSkills .skillsHeader:hover {
      background-color: #f8f8ff;
      cursor: pointer; }
    /* line 48, ../../../../github/Portfolio/public/sass/skills.scss */
    .subContainerSkills .containerSkills .skillsBody {
      overflow: hidden;
      max-height: max-content;
      transition: max-height 1s ease-in-out; }
      /* line 53, ../../../../github/Portfolio/public/sass/skills.scss */
      .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar {
        background-color: #a3d4ff;
        border-radius: .25rem; }
        /* line 56, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar .skillsPercentBar {
          height: 5px;
          border-radius: .25rem;
          display: block;
          background-color: #39a1ff; }
        /* line 62, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar .htmlBar {
          width: 90%; }
        /* line 65, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar .jsBar {
          width: 80%; }
        /* line 68, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar .reactBar {
          width: 50%; }
        /* line 71, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar .nodeBar {
          width: 60%; }
        /* line 74, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar .expressBar {
          width: 80%; }
        /* line 77, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar .mongoBar {
          width: 70%; }
        /* line 80, ../../../../github/Portfolio/public/sass/skills.scss */
        .subContainerSkills .containerSkills .skillsBody .skillsData .skillsBar .illustratorBar {
          width: 20%; }
      /* line 84, ../../../../github/Portfolio/public/sass/skills.scss */
      .subContainerSkills .containerSkills .skillsBody .skillsData .skillsStats {
        width: 250px; }
    /* line 89, ../../../../github/Portfolio/public/sass/skills.scss */
    .subContainerSkills .containerSkills .closeSkills {
      max-height: 0 !important;
      pointer-events: none; }

/*# sourceMappingURL=skills.css.map */